{{link-to 'Issues' 'org.repo.issues'}} {{link-to 'Contributors' 'org.repo.contributors'}}

<ul>
  {{#each content as |issue|}}
    <li>#{{issue.number}} - {{issue.title}}</li>
  {{/each}}
</ul>


{{outlet}}
