<h1>My Favorite Orgs</h1>

<ul>
  <li>{{link-to 'facebook' 'org' 'facebook'}}</li>
  <li>{{link-to 'google' 'org' 'google'}}</li>
  <li>{{link-to 'yahoo' 'org' 'yahoo'}}</li>
  <li>{{link-to 'netflix' 'org' 'netflix'}}</li>
</ul>
{{outlet}}
